/* ===  Layout styles === */
html {
	width: 100%
}

body {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

td {
	padding: 4px;
}

div#all {
	padding-top: 50px;
	width: 100%;
}

div#content {
	width: 720px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	background: #FCFCFC;
	border: 1px solid #E4EFF3;
}

div#logo {
	width: 720px;
	height: 73px;
	background: #E4EFF3;
}

div#navigation {
	width: 720px;
	height: 15px;
	background: #E2F3B8;
	text-align: right;
}

div#insert {
	width: 120px;
	float: right;
	text-align: right;
}

div#copyright {
	width: 720px;
}

div#copyright p {
	color: #0C0C0C;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 75%;
	margin-left: 5px;
	font-weight: bold;
	clear: both;
}

/* ===  Content styles === */
.buttonBar {
	height: 1.5em;
	text-align: right;
}

.readOnly {
	color: rgb(192, 192, 192);
}

.message {
	color: blue;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.error {
	color: red;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

/* === Styles for Type-ahead suggest box === */
span.spanTextDropdown {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	z-index: 101;
	background-color: #C0C0C0;
	border: 1px solid #000000;
	padding-left: 2px;
	overflow: visible;
	display: none;
}

span.spanMatchText {
	text-decoration: underline;
	font-weight: bold;
}

span.spanNormalElement {
	background: #C0C0C0;
}

span.spanHighElement {
	background: #000040;
	color: white;
	cursor: pointer;
}

span.noMatchData {
	font-weight: bold;
	color: #0000FF;
}